<% provide :title, "About" %>
<p> Bokeh is the aesthetic quality of the blur produced in the out-of-focus parts of an image produced by a lensthat describes </p>
<p>Bokeh was concieved of by a flash of inspiration  that came to Richard, Abe and Kyle  simultaneously.</p>
