<% provide :title, "About" %>

<section id="aboutMe">
	<h1>About Bokeh</h1>
	<p> Bokeh is the aesthetic quality of the blur produced in the out-of-focus parts of an image produced by a lens. <br> Bokeh was concieved of by a flash of inspiration  that came to Richard, Abe and Kyle  simultaneously. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>