<% provide(:title, 'Contact') %>

<section id="contactUs">
	<h1>Contact Us</h1>>
	
<p>Please contact us with any questions or suggestions you might have. We are always looking to improve our site and feedback is greatly appreciated. Continue sharpening your blur and striving for greatness!

<br><br>
Richard: richard@example.com <br>
Abe: abe@example.com<br>
Kyle: kyle@example.com
</p>



</section>
