<% provide :title, "Help" %>
<p>Bokeh is a fun app that lets you enter contests and vote on your favorite photos</p> 
<p>To have an insanely good time, create a profile and upload your best photos</p>
<p>Once you have selected your photos, go ahead and add one to a contest and see how it compares against other photos.</p>

<p> Bokeh is the aesthetic quality of the blur produced in the out-of-focus parts of an image produced by a lensthat describes </p>
