<div class="bg"></div>
<!-- <div class="bg-overlay"></div>
 -->
<div class="center">
<br>
<br>
<br>
<br>
<br>

  <p id="title">Bokeh</p>

  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>