<h1>Contests</h1>
<% if logged_in? %>
    <%= link_to("Create Contest", new_contest_path) %>
<% end %>
<ul>
<% @contests.each do |contest|%>
	<li>
		<h3><%= link_to "#{contest.name}", contest_path(contest) %></h3>
		<%= link_to "Top 10", ranking_path(contest) %>
	</li>
	<% if @current_user.admin %>
		 | <%= link_to "Destroy Contest", contest,  method: :delete %>
		

	<% end %>
<% end %>
</ul>

