<h1>Contest name: <%= @contest.name %></h1>
<h2>Contest criteria: <%= @contest.criteria %></h2>

<h3>Photos: </h3>
<% @contest.photos.each do |photo| %>
<%= image_tag("#{photo}") %>
<% end %>

<%= link_to "Enter Contest", "#" %>