<% if @contest.photos.size < 2 %>
    <p>not enough photos in this contest</p>
<% else %>
    <%= link_to image_tag(@photo1.image.url(:contest)), vote_path(id: @contest.id, up_photo_id: @photo1.id, down_photo_id: @photo2.id) %>
    <%= link_to image_tag(@photo2.image.url(:contest)), vote_path(id: @contest.id, up_photo_id: @photo2.id, down_photo_id: @photo1.id) %>
    <% if current_user.admin == true %>
        <br>
        <%= @photo1.score %>
        <%= @photo2.score %>
    <% end %>
<% end %>