<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
      
    </section>
  </aside>
</div>


<section class="row">
    <% if @user.photos.empty? %>
      <p>You ain't gots no photos</p>
    <% end %> 

    <% @user.photos.each do |photo| %>
       <div class="col-md-6"> <%= image_tag photo.image,  class: "img-rounded img-responsive user_photo" %> </div>
    <% end %>
</section>