<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
      
    </section>
  </aside>
</div>


<section id="user_index">
    <% if @user.photos.empty? %>
      <p>You ain't gots no photos</p>
    <% end %> 

    <% @user.photos.each do |photo| %>
    
        <div class="user_photo">
          <%= image_tag photo.image,  class: "profile" %>
        </div>
      
    <% end %>
</section>