

<section class="newPhoto">
	<%= form_for @photo, url: api_photos_path do |f| %>
	    <%= f.file_field :image, class: "imageInput" %>
	    <%= f.submit "Upload pic", class: "btn btn-success" %> 
	<% end %>
</section>
